<!doctype html>
<html lang="en-US">
  <head>
    <title>TITLE</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="public/stylesheets/application.css">
  </head>
  <body>
    <% if session[:message] %>
        <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
