<form action="/create" method="post">
  <dl>
    <dt>
      <label for="filename">Add a new document:</label>
    </dt>
    <dd>
      <input name="filename" id="filename" type="text" value="">
    </dd><fieldset>
      <input type="submit" value="Create">
    </fieldset>
  </dl>
</form>