<form action="/new" method="post">
  <dl>
    <dt>
      <label for="doc_name">Add a new document:</label>
    </dt>
    <dd>
      <input name="doc_name" type="text" value="">
    </dd><fieldset>
      <input type="submit" value="Create">
    </fieldset>
  </dl>
</form>